# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/data/ChasseurCueilleur_data.h : data de tests
/data/ChasseurCueilleur_unused.h
/data/corentin_control_crop_comp_feed_synth_data_funct_traj_v3.h
/data/corentin_control_traj_unused.h
/data/corentin_no_control_feed_synth_data_funct_traj_v3.h
/data/corentin_no_control_traj_unused.h
/data/ChasseurCueilleur_data.h
/data/dispersion_renouee_data.h
/data/dispersion_renouee_unused.h
/data/maupertuis_data.h
/data/maupertuis_unused.h
/data/maupertuisEco_data.h
/data/maupertuisEco_unused.h
/data/optimProb1_data.h
/data/optimProb1_unused.h
/data/optimProb1D_data.h
/data/test_capt_discret_data.h
/data/test_capt_discret_unused.h
/data/test_tycha_discret_data.h
/data/test_tycha_discret_unused.h
/data/testZermelo.h
/data/testZermelo_bitSet.h
/data/testZermelo_unused.h
/data/userModel.h
/data/zermelo_Lmin_data.h
/data/zermelo_Lmin_unused.h
/data/zermelo_tmin_data.h
/data/zermelo_tmin_unused.h
/data/ex1_EcoPolut_data.h
/data/ex1_EcoPolut_unused.h
/data/ex1Viabi5D_data.h
/data/ex1Viabi5D_unused.h
/data/ex2_EcoPolut_data.h
/data/ex2_EcoPolut_unused.h
/data/ex2Viabi2D_data.h
/data/ex2Viabi2D_unused.h
/data/ex3bis_Viabi2D_data.h
/data/ex3bis_Viabi2D_unused.h
/data/ex3Dim_Viabi2D_data.h
/data/ex3Dim_Viabi2D_unused.h
/data/ex4_Viabi2D_data.h
/data/IPGG_data.h
/data/IPGG_unused.h
/save_mains/main.cpp
/save_mains/main_zer.cpp
/save_mains/mainEquilibres.cpp
/save_mains/mainGAIA_1P-incert.cpp
/save_mains/mainJPA.cpp
/save_mains/mainJulia.cpp
/save_mains/mainOptim.cpp
/save_mains/mainSophie.cpp
/save_mains/mainViab2D.cpp
OUTPUT/
CMakeFiles/
Default/
.settings/
/.project
/.cproject
/cmake_install.cmake
/CMakeCache.txt
/Makefile
